    <div class="container">
      <div *ngFor='let a of abusedArray' class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-2">
          <audioplayer></audioplayer>
        </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0">
          <audioplayer></audioplayer>
        </div>
      </div>
    </div>
    Defect list:
    <ul>
    <li>volume value display needs work</li>
    <li>Background gets to areas that slows scrolling</li>
    <li>text marquee should only scroll when playing</li>
    <li>volume value display needs work</li>
    <li>new audio files are needed</li>
    <li>can I get the metadata off the audio track?</li>
    <li>adjust jumbotron width to match audio container, always</li>
    <li>well oiled apps and copyright is covered by audio players</li>
    <li>add slider for volume. buttons are dumb</li>
    <li>move styles from elements to .css files</li>
    <li>i18n?</li>
  </ul>
