<div class="container">
  <div class="row">
    <div *ngFor='let audioElement of audioTracks'>
      <div class="
            col-xs-8 col-xs-offset-2
            col-sm-6 col-sm-offset-0
            col-md-6
            col-lg-4 ">
        <audioplayer [audioElement]="audioElement"></audioplayer>
      </div>
    </div>
  </div>
</div>
Defect list:
<ul>
<li>add pipe to this.audioElement.volume and remove this.displayedVolume</li>
<li>add pipe this.audioElement.src to make a user friendly displated name</li>
<li>move this defect list to be a console.log</li>
<li>volume value display needs work</li>
<li>add slider for volume. buttons are dumb</li>
<li>volume value display needs work; progress bars?</li>
<li>Background gets to areas that slows scrolling</li>
<li>text marquee should only scroll when playing</li>
<li>well oiled apps and copyright is covered by audio players</li>
<li>new audio files are needed</li>
<li>move styles from elements to .css files</li>
<li>docker?</li>
</ul>
