<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">

    <div  class="col-md-8 col-md-offset-2">
      <div style="text-align:center" class="page-header well">
        <h3 class="glyphicon glyphicon-headphones" style="display: inline;"></h3>
        <h1 style='display: inline;'>
          &nbsp;&nbsp;atmosphere&nbsp;
        </h1>
        <h3 class="glyphicon glyphicon-headphones" style="display: inline;"></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <leftnavbar> </leftnavbar>
    </div>
    <div class="col-md-6">
      <audiocontainer> </audiocontainer>
    </div>

  </div>
</div>