<div class="well well-sm " style='white-space: nowrap;'>
  <div class="container" style="padding: 0;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
      <span>
        {{this.audioElement.src.substr(35)}}
      </span>
  </div>
  <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
    <button *ngIf="!this.audioElement.paused" type="button" (click)="this.audioElement.pause()" class="btn btn-info btn-sm glyphicon glyphicon-pause"></button>
    <button *ngIf="this.audioElement.paused" type="button" (click)="this.audioElement.play()" class="btn btn-info btn-sm glyphicon glyphicon-play"></button>
    <button type="button" (click)="this.volumeDown()" class="btn btn-default btn-sm glyphicon glyphicon-volume-down"></button>
    <button type="button" (click)="this.volumeUp()" class="btn btn-default btn-sm glyphicon glyphicon-volume-up"></button>
    <span class="text-info" style='font-family:monospace; font-size: larger;'>
      {{this.audioElement.volume}}
    </span>
  </div>
</div>
</div>
</div>
